@keyframes appear {
    from {
        transform: translateX(-200px);
    }
    to {
        transform: translateX(0);
    }
}

.modalMenuOverlay {
    background: var(--black-30);
    backdrop-filter: blur(2px);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modalMenuContainer {
    height: 100%;
    background: var(--blue);
    color: var(--white);
    width: 192px;

    animation: appear 800ms;
    animation-timing-function: ease;

    .modalMenuContent {
        padding: 2rem 3rem;

        .avatarContainer {
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;

            .imageAvatarWrapper {
                position: absolute;
                left: 0;
            }

            .aboutWrapper {
                margin-left: 3.3rem;
            }

            h2 {
                font-size: 1rem;
                margin: 0;
                margin-bottom: 3px;
            }

            p {
                font-size: 1rem;
                font-weight: 300 !important;
                margin: 0;
                margin-bottom: 1.3rem;
            }

            &:after {
                content: "";
                border-radius: 3px;
                width: 143px;
                height: 1px;
                background: var(--white);
                position: absolute;
                bottom: 0;
            }
        }

        .buttonsContainer {
            margin-top: 2rem;
            display: flex;
            align-items: center;
            flex-direction: column;

            button {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                margin-bottom: 0.5rem;
                font-weight: 600 !important;
                height: 2.3rem;
                width: 8rem;
                border: none;
                outline: none;
                color: var(--white);
                background: transparent;
                border-radius: 10px;
                cursor: pointer;

                &:hover {
                    background: var(--blue-50);
                }
            }
        }
    }
}

@media screen and (min-width: 1366px) {
    .modalMenuOverlay {
        width: 192px;
        background: var(--white);
    }
}
