.menuButton {
    background: transparent;
    outline: 0;
    border: 0;
    padding: 0;
    cursor: pointer;
}

@media screen and (min-width: 1366px) {
    .menuButton {
        display: none;
    }
}
